.DashboardContent .row .col-3:first-child .CardFeatures {
  background-color: var(--purple-color);
  color: white;
}
.DashboardContent .row .col-3:nth-child(2) .CardFeatures .icon {
  background-color: #ff000014;
  color: #ff00007a;
}
.DashboardContent .row .col-3:nth-child(2) .circle-container__progress {
  stroke-dasharray: 80 100;
}
/* .DashboardContent .col-3:nth-child(3) .stop1 {
  stop-color: #ff7b7b;
}
.DashboardContent .col-3:nth-child(3) .stop2 {
  stop-color: #ff7b7b;
} */
.DashboardContent .row .col-3:nth-child(3) .CardFeatures .icon {
  background-color: #a162f763;
  color: var(--purple-color);
}
.DashboardContent .row .col-3:nth-child(3) .circle-container__progress {
  stroke-dasharray: 10 100;
}
.DashboardContent .row .col-3:nth-child(4) .CardFeatures .icon {
  background-color: #ffff0012;
  color: yellow;
}
.DashboardContent .row .col-3:nth-child(4) .circle-container__progress {
  stroke-dasharray: 25 100;
}
