.Navbar {
  background-color: var(--bg-color-white);
  height: 60px;
}
:focus {
  outline: none;
}
.search-input {
  width: 420px;
  color: #5f6165;
}
.search-input input {
  width: 90%;
  display: inline-block;
  margin-right: auto;
  height: 100%;
  padding-left: 10px;
  caret-color: orange;
}
.admin-details {
  color: #5f6165;
  width: 80px;
}
.admin-details .icon {
  position: relative;
}
.admin-details .icon::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: orange;
}
.admin-details .icon svg {
  cursor: pointer;
}
